.bgNav2{
    background-color: #35155D;
    opacity: 0.7;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}


.btnSearch{
        border: 1px solid white;
}


.btnSearch:hover{
        background-image: url("/assets/fondo.jpg");  
        border: 1px solid white;
        scale: 1.1;
}

.btnSearchPosition{     /*Esta clase sirve para centrar le boton Mi cuenta del header*/
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.btnMC{
    background-color: #35155D;
    opacity: 0.6;
    border: 1px solid white;
    border-radius: 5px;     /*aca al parle un padding en el boton el responsive no funciona*/
    
}
.btnMC:hover {  
    background-image: url("/assets/fondo.jpg");
    scale: 1;
}

.bgDROP{
    background-color: #35155D
}


.Options:hover{
    background-image: url("/assets/fondo.jpg");
}


.btnInput:focus-visible{
    box-shadow:none;
    border:none
}


.bgToggler{
    background-color: rgba(233, 226, 238, 0.2);
}

@media(max-width:576px){
    .btnMC{
        width: 100%;
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 3rem;  /*Si no coloco este margen el boton se sube a cualquier lado del nabvar de iggual forma que cuando le coloco un padding*/
        border:none;
        
    }
    .headerFondo{
        position: relative;
    }
}

body {
    background-image:linear-gradient(
        157deg,
        #000000,
        #000000,
        #271355,
        #271355,
        #0e0030,
        #1a0057,
        #000000,
        #000000
     ) ;
    
}



.rowSeleccionModification {
    background-color: rgba(46, 46, 46, 0.664);
    border-radius: 3rem;
    margin: 0px;
    padding-block: 1rem;
    width: 60%;

}
.rowSeleccionModification:hover {
   transform: scale(1.1);
   transition: 0.8s;

}


@media(max-width:575px) {
    .rowSeleccionModification {
        padding: 0;
        margin: 0;
        display: none !important;
    }

}
@media(min-width:576px){
    .botonDispositivoMovil{
        display: none !important;
    }
}

.textoSeleccionPlan {

    padding-left: 1rem;
    padding-top: 0.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 6px rgba(29, 0, 146, 0.777);
}

.btnDecoration {
    background-color: #35155D;
    border: none;
    border-radius: 2rem;
    padding-inline: 3rem;
    padding-block: 0.8rem;
    color: #ffffff;
    margin-left: auto;
    margin-right: 6px;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
.btnDecoration:hover{
    background-color: #ffffffda;
    outline: 3px solid #35155D;
    color: #35155D;
    transform: scale(0.9);
    transition: all 0.7s ease-in-out;
}

@media(max-width:768px) {
    .rowSeleccionModification {
        width: 75%;
        padding-block: 0.5rem;
        height: 50px;
    }

    .btnDecoration {
        padding-inline: 2rem;
        padding-block: 0.4rem;

    }
}


.fondoClaro {

    padding-block: 1rem;
    border-radius: 1rem;
}

.textoTituloprincipal {
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: 2px 2px 6px rgba(28, 0, 146, 1);

    margin-bottom: 10%;
}

@media(max-width:490px) {
    .fondoClaro {
        padding-inline: 5%;
    }

    .textoTituloprincipal {
        font-size: 1.7rem;
    }
}

.textoFormulario {
    color: rgb(255, 255, 255);
}


.containerFormModificacion {
    background-color: #0000008e;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border: 1px solid rgba(233, 233, 233, 0.333);
    border-radius: 0.5rem;
    margin-inline: 2rem;
    padding-inline: 2rem;
}
@media(max-width:410px){
    .containerFormModificacion{
        padding-inline: 1.5rem;
    }
}
@media(min-width:670px) {
    .containerFormModificacion {
        margin: auto;
        width: 75%;
    }
}

@media(min-width:760px) {
    .containerFormModificacion {
        margin: auto;
        width: 65%;
    }
}

@media(min-width:1100px) {
    .containerFormModificacion {
        width: 650px;
        margin: auto;
    }

    .rowSeleccionModification {
        width: 700px;
        margin: auto;
    }
}

.formCampos {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    
}

.formCampos:hover{
    transform: scale(1.05);
    transition:  0.5s;
}

.formCampos label {
    padding-left: 0.3rem;
    font-size: 1.15rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-shadow: 3px 3px 4px rgba(29, 0, 146, 0.993);
    letter-spacing: 1px;
    
}

.formCampos input {
    
    background-color: rgba(0, 0, 0, 0.438);
    border-radius: 1rem;
    border: none;
    border-top: 3px solid rgb(65, 0, 139);
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-left: 0.7rem;
    color: white;
    font-weight: 600;
    
}
@media(max-width:450px){
    .formCampos label{
        font-size: 1rem;
    }
}
@media(max-width:350px){
    .formCampos label{
        font-size: 0.9rem;

    }
    .formCampos input{
        font-size: 0.9rem;

    }
}


.footerModificacion {

    margin-top: 5rem;
    padding-block: 5rem;
    background-color: #1e03589b;
    border: 1px solid rgba(255, 255, 255, 0.308);

}
.textoRestriccionContraseña{
    font-size: 0.8rem;
    color: #ffffff;
    text-shadow: 2px 2px 6px rgba(29, 0, 146, 0.777);
}
.fondoOscuro{
    background-color: rgba(46, 46, 46, 0.664);
    padding: 0.7rem;
    border-radius: 1.5rem;
}
.textAceptoFormulario{
    font-size: 0.9rem;
    color: #ffffff;
    width: 100%;
    border-radius: 0.5rem;
    text-shadow: 2px 2px 6px rgba(29, 0, 146, 0.777);
    
}
.w-70 {
    width: 70%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}

.headerFondo{
    background-image: url("/assets/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
